---
import PageLayout from "@/layouts/Base.astro";

const meta = {
	description: "I'm a starter theme for Astro.build",
	title: "About",
};
---

<PageLayout meta={meta}>
	<h1 class="title mb-6">About</h1>
	<div class="prose prose-base prose-cactus max-w-none">
		<p>
		Work in progress.
		</p>
	</div>
</PageLayout>
